@model HungManhProject.Models.Product
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mainContent-theme ">
    <div class="searchPage" id="layout-search">
        <div class="container-fluid">
            <div class="row pd-page">
                <div class="col-md-12 col-xs-12">
                    <div class="heading-page">
                        <h1>Tìm kiếm</h1>
                    </div>
                    <div class="wrapbox-content-page">


                        <div class="content-page clearfix" id="search">
                            <div class="expanded-message">
                                <div class="search-field">
                                    <form class="search-page" action="/search">
                                        <input type="hidden" name="type" value="product">
                                        <input type="submit" alt="Go" id="go">
                                        <input type="text" name="q" class="search_box" placeholder="Tìm kiếm" value="">
                                    </form>
                                </div>
                                <div class="message-txt clearfix">
                                    <p>Rất tiếc, chúng tôi không tìm thấy kết quả cho từ khóa của bạn</p>
                                    <p>Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('form.search-page').submit(function (e) {
            e.preventDefault();
            var q = $(this).find('input[type="text"]').val();
            if (q.indexOf('script') > -1 || q.indexOf('>') > -1) {
                alert("Key word của bạn có chứa mã độc hại");
                $(this).find('input[type="text"]').val('');
            }
            else {
                window.location.href = "/search?type=product&q=" + $('input.search_box').val();
            }
        })
    </script>

</main>

