@model IEnumerable<HungManhProject.Models.Product>

@{
    ViewBag.Title = "Trang chủ - Online Sneaker Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

-<div class="main-body main-body-index">
    <div class="container-fluid">
        <div class="container section-title-container" style="margin-top:25px">
            <h2 class="section-title section-title-center">
                <b></b>
                <span class="section-title-main" style="font-size: 24px; font-family:Roboto; color:#555; font-weight:bold">SẢN PHẨM MỚI</span>
                <b></b>
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/26/nike-air-force-1-low-–-ice-cream" title="Nike Air Force 1 Low – Ice Cream" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/11/nike-air-force-1-low-ice-cream-dx3727-100-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/11/nike-air-force-1-low-ice-cream-dx3727-100-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Nike Air Force 1 Low – Ice Cream" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Nike Air Force 1 Low – Ice Cream
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">3.500.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/27/nike-killshot-2-leather-–-hyper-blue" title="Nike Killshot 2 Leather – Hyper Blue" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/11/nike-killshot-2-leather-hyper-blue-432997-124-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/11/nike-killshot-2-leather-hyper-blue-432997-124-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Nike Killshot 2 Leather – Hyper Blue" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Nike Killshot 2 Leather – Hyper Blue
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">2.900.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/28/nike-air-force-1-low-–-brilliant-orange" title="Nike Air Force 1 Low – Brilliant Orange" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/11/nike-air-force-1-low-brilliant-orange-dj9942-103-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/11/nike-air-force-1-low-brilliant-orange-dj9942-103-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Nike Air Force 1 Low – Brilliant Orange" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Nike Air Force 1 Low – Brilliant Orange
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">3.500.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/29/air-jordan-1-mid-–-black-pink-crimson" title="Air Jordan 1 Mid – Black Pink Crimson" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/02/air-jordan-1-mid-black-pink-crimson-554725-604-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/02/air-jordan-1-mid-black-pink-crimson-554725-604-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Air Jordan 1 Mid – Black Pink Crimson" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Air Jordan 1 Mid – Black Pink Crimson
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">4.500.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/30/air-jordan-1-low-–-light-madder-root" title="Air Jordan 1 Low – Light Madder Root" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/05/air-jordan-1-low-light-madder-root-dm8960-801-1-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/05/air-jordan-1-low-light-madder-root-dm8960-801-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Air Jordan 1 Low – Light Madder Root" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Air Jordan 1 Low – Light Madder Root
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">4.000.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/31/nike-air-force-1-low-–-panda" title="Nike Air Force 1 Low – Panda" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/10/nike-air-force-1-low--panda-dx3115-100-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/10/nike-air-force-1-low--panda-dx3115-100-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Nike Air Force 1 Low – Panda" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Nike Air Force 1 Low – Panda
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">3.650.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/32/mlb-mule-ny-–-black" title="MLB Mule NY – Black" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/06/mlb-mule-ny--black-3amuua11n-50bks-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/06/mlb-mule-ny--black-3amuua11n-50bks-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="MLB Mule NY – Black" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    MLB Mule NY – Black
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">1.150.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/33/nike-dunk-low-–-easter-candy" title="Nike Dunk Low – Easter Candy" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/07/nike-dunk-low-easter-candy-dd1872-100-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/07/nike-dunk-low-easter-candy-dd1872-100-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Nike Dunk Low – Easter Candy" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Nike Dunk Low – Easter Candy
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">3.000.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/34/mlb-big-ball-chunky-–-boston" title="MLB Big Ball Chunky – Boston" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/06/mlb-big-ball-chunky-boston-32SHC2911-43I-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/06/mlb-big-ball-chunky-boston-32SHC2911-43I-1-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="MLB Big Ball Chunky – Boston" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    MLB Big Ball Chunky – Boston
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">2.100.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/35/air-jordan-1-retro-high-–-tie-dye" title="Air Jordan 1 Retro High – Tie Dye" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/06/air-jordan-1-retro-high-tie-dye-CD0461-100-768x768.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/06/air-jordan-1-retro-high-tie-dye-CD0461-100-2-768x768.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Air Jordan 1 Retro High – Tie Dye" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Air Jordan 1 Retro High – Tie Dye
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">7.650.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/37/yeezy-700-–-enflame-amber" title="Yeezy 700 – Enflame Amber" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/04/yeezy-700-enflame-amber-gw0297-3-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/04/yeezy-700-enflame-amber-gw0297-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Yeezy 700 – Enflame Amber" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Yeezy 700 – Enflame Amber
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">6.900.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-2 pro-loop">
                <div class="product-block product-resize " style="margin: 7px;">
                    <div class="product-img ">
                        <a href="/products/38/nike-air-force-1-mid-–-all-white" title="Nike Air Force 1 Mid – All White" class="image-resize ratiobox">
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2021/09/nike-air-force-1-mid-all-white-314195-113-300x300.jpg" />
                            </picture>
                            <picture>
                                <img width="300" height="300" src="https://sneakerholicvietnam.vn/wp-content/uploads/2022/10/nike-air-force-1-mid-all-white-cw2289-111-300x300.jpg" />
                            </picture>
                        </a>
                    </div>
                    <div class="product-detail clearfix" style="opacity: 100; visibility:visible">
                        <div class="box-pro-detail">
                            <h3 class="pro-name">
                                <a href="/products/than-chet-part-time" title="Nike Air Force 1 Mid – All White" style="text-decoration: none; display: inline-block; color: #446084; text-transform:none; font-weight:normal">
                                    Nike Air Force 1 Mid – All White
                                </a>
                            </h3>

                            <div class="box-pro-prices">
                                <p class="pro-price ">
                                    <span style="color:black; font-weight:bold; white-space:nowrap">3.500.000₫</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


