
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mainContent-theme ">
    <div class="pageAbout-us page-layout">

        <div class="wrapper-row pd-page">
            <div class="container-fluid">
                <div class="heading-page">
                    <div class="header-page">
                        <h1 style="text-align: center;font-size: 80px; padding-top:100px">Đặt hàng thành công!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

