
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mainContent-theme ">
    <div class="pageAbout-us page-layout">

        <div class="wrapper-row pd-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">

                            <div class="wrapbox-content-page">
                                <div class="content-page ">
                                    <p><strong>"Đồ án chuyên ngành Hutech"&nbsp;</strong></p><p style="text-align:center"><img src="//file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png"></p>
                                    <p style="text-align:center">Đồ án chuyên ngành: Vương Hoàng Hưng và Nguyễn Đức Mạnh</p><p> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


