
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mainContent-theme ">
    <div class="pageAbout-us page-layout">

        <div class="wrapper-row pd-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">

                            <div class="page-wrapper">
                                <div class="wrapbox-content-page">
                                    <div class="content-page ">
                                        <p>&nbsp;</p><p style="text-align: center;"><span style="font-size:36px"><strong>*HỆ THỐNG CỬA HÀNG*</strong></span></p><p style="text-align: center;"><br><span style="font-size:28px"><strong>Nhóm 7 Đồ án cơ sở</strong></span><br><span style="font-size:16px"><u><strong>CHI NHÁNH HỒ CHÍ MINH:</strong></u></span><br><span style="font-size:14px">117 Trần Đình Xu, Phường Nguyễn Cư Trinh, Quận&nbsp;1<br>93 Rạch Bùng Binh, Phường 9, Quận 3<br>26 Lý Tự Trọng, Phường Bến Nghé, Quận 1<br>350 Điện Biên Phủ, Phường 9, Quận Bình Thạnh</span><br>---<br><span style="font-size:16px"><u><strong>CHI NHÁNH HÀ NỘI:</strong></u></span><br><span style="font-size: 14px;">21B Lò Đúc, Ngô Thời Nhậm, Quận Hai Bà Trưng</span><br>---<br><span style="font-size:16px"><u><strong>CHI NHÁNH CẦN THƠ:</strong></u></span></p><p style="text-align: center;">7 Trần Văn Hoài, Phường&nbsp;Xuân Khánh, Quận&nbsp;Ninh Kiều,&nbsp;Cần Thơ</p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><span style="font-size:26px"><strong>Nhóm 7</strong></span><br><span style="font-size:16px"><u><strong>CHI NHÁNH HỒ CHÍ MINH:</strong></u></span><br><span style="font-size:14px">117 Trần Đình Xu, Phường Nguyễn Cư Trinh, Quận&nbsp;1<br>93 Rạch Bùng&nbsp;Binh, Phường 9, Quận 3<br>26 Lý Tự Trọng, Phường Bến Nghé, Quận 1<br>57 Nguyễn Gia Trí (D2), Phường 25,&nbsp;Quận Bình Thạnh</span><br>---</p><p style="text-align: center;"><span style="font-size:16px"><u><strong>CHI NHÁNH HÀ NỘI:</strong></u></span><br><span style="font-size: 14px;">21B Lò Đúc, Ngô Thời Nhậm, Quận Hai Bà Trưng</span></p><p style="text-align: center;">---</p><p style="text-align: center;"><span style="font-size:16px"><u><strong>CHI NHÁNH CẦN THƠ:</strong></u></span></p><p style="text-align: center;">7 Trần Văn Hoài, Phường&nbsp;Xuân Khánh, Quận&nbsp;Ninh Kiều,&nbsp;Cần Thơ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

