
@{
    ViewBag.Title = "Chính sách đổi trả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mainContent-theme ">
    <div class="pageAbout-us page-layout">

        <div class="wrapper-row pd-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">

                            <div class="wrapbox-content-page">
                                <div class="content-page ">
                                    <p><span style="font-size:20px;"><b>1. Dịch vụ đổi hàng tận nơi:</b></span></p><p><span style="font-size:20px;">Nhận biết được sự bất tiện khi cần đổi sản phẩm do không vừa là một khó khăn, khi bạn phải mang hàng ra bưu cục và chờ đợi&nbsp;một thời gian để nhận lại món đồ ưng ý của mình.&nbsp;Nhằm&nbsp;mang lại cho bạn sự tiện lợi&nbsp;và những trải nghiệm tuyệt vời khi mua hàng, tụi mình đã phát triển dịch vụ đổi hàng tận nơi:</span></p><p><span style="font-size:20px;">- Đổi hàng tận nơi, shipper sẽ đến tận nhà để đổi hàng cho bạn..</span></p><p><span style="font-size:20px;">- Áp dụng đổi hàng với tất cả các sản phẩm (bao gồm sản phẩm trong chương trình sale)&nbsp;thời gian đổi hàng trong vòng 5&nbsp;ngày kể từ ngày khách hàng nhận bưu phẩm.</span></p><p><br><span style="font-size:20px;">- Trường hợp sản phẩm hết size bạn cần, tụi mình sẽ hỗ trợ bạn đổi sang sản phẩm khác bằng giá trị hoặc cao hơn, trường hợp khách hàng không đồng ý đổi sản phẩm khác, bên mình sẽ refund lại giá trị đơn hàng.</span></p><p><span style="font-size:20px;"><b>-&nbsp;</b>Chi phí vận chuyển khi đổi hàng được BADNOTGOOD hỗ trợ 1 chiều cho bạn (bạn chỉ cần thanh toán phí ship khi nhận sản phẩm đúng) và 2 chiều đối với sản phẩm do lỗi sản xuất.</span></p><p>&nbsp;</p><p><span style="font-size:20px;"><b>2. Điều kiện đổi hàng</b></span></p><p><span style="font-size:20px;"><b>-&nbsp;</b>Chỉ nhận đổi sản phẩm khi có trường hợp khách yêu cầu đổi size, phát sinh lỗi từ nhà sản xuất (ố màu, phai màu, lỗi chất liệu, lỗi đường may,...) hoặc giao nhầm sản phẩm.</span></p><p><span style="font-size:20px;"><b>-&nbsp;</b>Sản phẩm đổi phải chưa qua sử dụng, chưa qua giặt tẩy, không bị vấy bẩn, ám mùi, còn giữ nguyên hóa đơn mua hàng và nhãn mác, sản phẩm đổi phải còn nguyên quà tặng kèm (nếu có).</span></p><p><span style="font-size:20px;"><b>-&nbsp;</b>Sản phẩm đổi phải có giá trị tương đương hoặc cao hơn sản phẩm được đổi. Vui lòng thanh toán chi phí chênh lệch giá trị sản phẩm nếu có.</span></p><p>&nbsp;</p><p><span style="font-size:20px;"><b>3. Quy trình đổi hàng:</b></span></p><p><span style="font-size:20px;">Khách hàng vui lòng đọc kỹ Điều kiện đổi hàng, kiểm tra kỹ sản phẩm trước khi đổi và thực hiện các bước sau:</span></p><p><span style="font-size:20px;"><b>+&nbsp;Bước 1:</b>&nbsp;Nhắn tin cho các kênh Social như Facebook, Instagram chính thức của BADNOTGOOD.</span></p><p><span style="font-size:20px;"><b>+ Bước 2:&nbsp;</b>Cung cấp cho nhân viên cskh video unbox sản phẩm.</span></p><p><span style="font-size:20px;"><strong>+</strong>&nbsp;<strong>Bước 3:</strong>&nbsp;Cung cấp cho chúng tớ thông tin địa chỉ của bạn gồm: Họ tên, số điện thoại, địa chỉ đồng thời quay video gói hàng có dán thông tin (Họ tên, số điện thoại, địa chỉ)</span></p><p><span style="font-size:20px;"><b>+ Bước 4:&nbsp;</b>Sau khi&nbsp;xác nhận đổi hàng, chúng tớ sẽ lên đơn thu hồi sản phẩm, sau khi nhận được hàng chúng tớ sẽ gửi lại đơn mới.</span><br><br><span style="font-size:24px;"><span style="color:#e74c3c;"><strong>* LƯU Ý: CÁC TRƯỜNG HỢP KHÔNG CÓ VIDEO, BADNOTGOOD XIN PHÉP KHÔNG GIẢI QUYẾT!</strong></span></span><br><br>&nbsp;</p><p style="text-align: center"><img alt="Banner 2" src="//file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png"></p><p>&nbsp;</p><div style="left: 20px; top: 1575.56px;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

